.content-body{
	display: flex;
	justify-content: center;
}

.branch-offices .container{
	text-align: center;
}

.cards-conteiner-branch-offices{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
}

.card-branch{
	width: 18rem;
	height: 25rem;
	position: relative;
	background-color: #e71f8d;;
	margin: 1rem 0.2rem;
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5px 10px black;
	transition: 0.3s ease-in-out;
	margin-top: 5%;
	border-radius: 1.5rem;
	color: #fff;
	box-shadow: 0 0 30px rgba(94, 1, 63, 0.8);
}

.card-img-bx{
	position: relative;
	width: 14rem;
	height: 14rem;
	top: -60px;
	left: 20px;
	box-shadow: 0 0 30px rgba(94, 1, 63, 0.8);
	border-radius: 1.5rem;
}

.card-img-bx img{
	width: 14rem;
	height: 14rem;
	border-radius: 1.5rem;
}

.card-img-bx:hover img{
	transform: scale(1.1);
}

.card-content-branch{
	position: relative;
	margin-top: 0;
	padding: 0;
}

.card-content-branch ul{
 text-align: start;
 padding: 1rem;
}

.card-content-branch ul li{
	margin: 0.5rem 0;
	list-style-type: none;
}

@media (max-width:768px){
	.card-branch{
		margin-top: 4rem;
	}
}