.selector {
	width: 8rem;
  	flex-wrap: wrap;
  }
  
  .selector .btn {
	position: relative;
	width: 8rem;
	height: 2.5rem;
	margin: 10px;
  }
  
  .selector .btn a {
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	color: #fff;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(15px);
  }
  
  .selector .btn:hover a {
	letter-spacing: 3px;
	cursor: pointer;
  }
  
  .selector .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
	transform: skewX(45deg) translateX(0);
	transition: 0.5s;
  }
  
  .selector .btn:hover a::before {
	transform: skewX(45deg) translateX(250%);
  }
  
  .selector .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background-color:  #8E2DE2;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
  }
  
  .selector .btn:hover::before {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.3s;
  }
  
  .selector .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background-color:  #8E2DE2;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
  }
  
  .selector .btn:hover::after {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.3s;
}
  
  .selector .btn:nth-child(1)::before,
  .selector .btn:nth-child(1)::after {
	background-color:  #8E2DE2;
	box-shadow: 0 0 5px  #8E2DE2, 0 0 15px  #8E2DE2, 0 0 30px  #8E2DE2, 0 0 60px  #8E2DE2;
  }