@import url(header.css);
@import url(house.css);
@import url(illuminated-button.css);
@import url(contact.css);
@import url(footer.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	background-color: #212529;
	color: #f4f4f4;
}

html{
	scroll-behavior: smooth;
}

h2{
	font-size: 1.5rem;
	letter-spacing: 5px;
}

h4{
 font-size: 1.3rem;
}

section{
	width: 100%;
	min-height: 100vh;
	padding-top: 10vh;
}

.container{
	min-height: 90vh;
	margin: 0 1.5rem;
}