.service .container{
	display: grid;
	place-items: center;
}

.cards-services{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	padding: 1.5rem;
	gap: 2rem;
}

.card-service{
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 1.5rem;
	box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.content-card-service{
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.content-card-service img{
	width: 100%;
	display: block;
	border-radius: 1.5rem 1.5rem 0 0;
}

.content-card-service:after{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1.5rem 1.5rem 0 0;
	opacity: 0.7;
}
/*
.card-1>.content-card-service:after{
	background-image: linear-gradient(135deg,#0100ec,#fb36f4);
}

.card-2>.content-card-service:after{
	background-image: linear-gradient(135deg,#0100ec,#fb36f4);
}

.card-3>.content-card-service:after{
	background-image: linear-gradient(135deg,#0100ec,#fb36f4);
}
*/

.details-service{
	padding: 1.5rem 0.8rem;
}

.details-service h3{
	margin: 0.8rem 0 1rem 0;
}